.description, .controls
	float left

.description
	width 70%

.controls
	width 30%
	padding 8% 0
	button
		display block
		width 50%	
		padding	10px
		margin 10px auto
		border none
		font-size 1.3rem