section
	div.description
		h2 {{albumCtrlr.music[albumCtrlr.selected].album}}
		h3 {{albumCtrlr.music[albumCtrlr.selected].artist}}
		p  {{albumCtrlr.music[albumCtrlr.selected].description}}
	div.controls
		button#preview &#9658;
		button#buy Buy
