nav
	ul
		
		li
			a(href="#")
				img(src="images/albums/album-abbeyroad-small.jpg")
		li
			a(href="#")
				img(src="images/albums/album-bobmarley-small.jpg")
		li
			a(href="#")
				img(src="images/albums/album-magnacarta-small.jpg")
		li
			a(href="#")
				img(src="images/albums/album-pinkfloyd-small.jpg")
		li
			a(href="#")
				img(src="images/albums/album-yeezus-small.jpg")