section
	div.description
		h2 Album
		h3 Artist
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eligendi, mollitia recusandae, adipisci, architecto tempora voluptatum magni.
	div.controls
		button#preview &#9658;
		button#buy Buy
