meta(charset='UTF-8')
title Spin That Track!
link(rel='stylesheet', href='css/main.css', type='text/css')
link(rel='icon', href='images/favicon.ico', type="image/x-icon")
script(src='scripts/vendor/jQuery/jquery.min.js')
script(src='scripts/vendor/angular/angular.min.js')
script(src='scripts/main.min.js')